.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Dependencies
node_modules/
.bun/
vendor/

# Build outputs & Caches
dist/
build/
PrioBuild/
.next/
.nuxt/
out/
.cache/

# Media and Binary Lockfiles
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
*.mp4
*.png
*.jpg
